#sequence > .sequence-canvas > li.bg1 {
    background-image: url(img/slider-bg1.jpg);
}
#sequence > .sequence-canvas > li.bg2 {
    background-image: url(img/slider-bg2.jpg);
}
#sequence > .sequence-canvas > li.bg3 {
    background-image: url(img/slider-bg3.jpg);
}
#sequence > .sequence-canvas > li.bg4 {
    background-color: #00abe6;
}
#sequence > .sequence-canvas > li.bg5 {
    background-image: url(img/slider-bg5.jpg);
}