.navbar-nav {

}
.navbar { margin-bottom: 0px;}
.navbar-brand0 {
    margin-right: 50px;
}.navbar-brand1 {
     line-height: 20px;
     border-right: 1px solid #E6E6E6;
     margin-right: 50px;
 }
.navbar-nav>li{
    border-bottom: 4px solid;
    border-color: whitesmoke;
}
.navbar-nav>li:hover {
    border-bottom: 4px solid #16A085;
}

/*slider images */
.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 16px;
}

.kode-event-contact {
    position: relative;
    overflow: hidden;
    padding: 70px 0;
    background: url(http://kodeforest.net/html/event/extra-images/bg-contact.png) no-repeat 50% 0;
    background-size: cover;
    float: left;
    width: 100%;
}
.kode-event-contact .container {
    position: relative;
    z-index: 3;
}
.kf_heading_3 {
    float: left;
    width: 100%;
    position: relative;
    margin: 0px 0px 30px;
}
.kf_heading_3 h2 {
    border-bottom: none;
    margin: 0 0 15px;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
}
.kf_heading_3 span {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #a9a9a9;
    font-style: italic;
    padding: 0px 0px 20px;
    font-weight: 600;
}
.kode-event-contact:after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, .75);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.contactusform h3 ,.kode-footer-text .title{
    color: #00a4ef;
}
.contactusform input[type="email"], .contactusform input[type="text"], .contactusform textarea {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 15px;
    color: #fff;
    font-size: 16px;
    line-height: 56px;
    outline: none;
    border: none;
    margin: 0 0 25px;
    height: 48px;
    background-color: rgba(255,255,255,0);
    border: solid 1px rgba(255,255,255,0.3);
}
.contactusform input[type="submit"] {
    float: right;
    color: #fff;
    font: 16px/20px 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    outline: none;
    border: none;
    text-transform: capitalize;
    background-color: #00a4ef;
}
.bg-white {
    background: white;
    padding: 10px 0 0 20px;
}
.prize-content li {
    margin-top: 10px;
    color:black;
}
.bg-white h3 {
    display: inline-block;
    font-size: 30px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.des {
    margin: 20px;
    font-size: 16px;
}
.service-image {
    cursor: pointer;
}
.service-image:hover img{
    opacity:0.5;
}
.service-image:hover input {
    display: block;
}
.service-image input {
    position:absolute;
    display:none;
}
.service-image input.update {
    top:150px;
    left:150px;
}

input.update {

}
.top-tool {
    width:100%;
    padding-top:2%;
    padding-bottom:30px;
    padding-left:10%;
    padding-right:10%;
    background-color: #00abe6;
}
.top-tool h3 {
    font-size: 2.8em;
    color:white;
}
.top-tool h4 {
    line-height: 1.5em;
    font-size: 1.8em;
    color:white;
}
.top-tool .btn {
    color: #fff;
    font: 25px 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    outline: none;
    border: none;
    text-transform: capitalize;
    background-color: #173b0b;
    margin: 20px;

}